<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SapientMiddleware.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    </configSections>
    <applicationSettings>
      <SapientMiddleware.Properties.Settings>
        <setting name="ClientAddress" serializeAs="String">
          <value>127.0.0.1</value>
        </setting>
        <setting name="ClientPort" serializeAs="String">
          <value>14000</value>
        </setting>
        <setting name="DatabaseName" serializeAs="String">
          <value>sapientV3</value>
        </setting>
        <setting name="DatabasePassword" serializeAs="String">
          <value>password</value>
        </setting>
        <setting name="DatabaseUser" serializeAs="String">
          <value>postgres</value>
        </setting>
        <setting name="DatabasePort" serializeAs="String">
          <value>5432</value>
        </setting>
        <setting name="DatabaseServer" serializeAs="String">
          <value>127.0.0.1</value>
        </setting>
        <setting name="LogPrefix" serializeAs="String">
          <value>receivelog</value>
        </setting>
        <setting name="IncrementIntervalSeconds" serializeAs="String">
          <value>3600</value>
        </setting>
        <setting name="LogDirectory" serializeAs="String">
          <value>../Log/Log</value>
        </setting>
        <setting name="LogClient" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="LogTasking" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="TaskingAddress" serializeAs="String">
          <value>127.0.0.1</value>
        </setting>
        <setting name="TaskingPort" serializeAs="String">
          <value>12002</value>
        </setting>
        <setting name="HLDMM" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="SchemaPath" serializeAs="String">
          <value>..\XSD</value>
        </setting>
        <setting name="DisconnectIntervalSecs" serializeAs="String">
          <value>60</value>
        </setting>
        <setting name="NoDelay" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="FixedAsmId" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="GuiAddress" serializeAs="String">
          <value>127.0.0.1</value>
        </setting>
        <setting name="GuiPort" serializeAs="String">
          <value>12003</value>
        </setting>
        <setting name="ForwardAlerts" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="sendNullTermination" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="DiscardUnterminatedMessages" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="WindowX" serializeAs="String">
          <value>-1</value>
        </setting>
        <setting name="WindowY" serializeAs="String">
          <value>-1</value>
        </setting>
        <setting name="CommsLatencyWarningThreshold" serializeAs="String">
          <value>100</value>
        </setting>
        <setting name="CommsLatencyErrorThreshold" serializeAs="String">
          <value>1000</value>
        </setting>
        <setting name="AzimuthOffset" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="FixedRange" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="PopulateGroundTruthTable" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="AdditionalDatabaseName" serializeAs="String">
          <value />
        </setting>
        <setting name="Az_StandardDeviation" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="El_StandardDeviation" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="R_StandardDeviation" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="ShowTaskWindow" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="ShowMainWindow" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="AsmReconnectionTimeout" serializeAs="String">
          <value>01:00:00</value>
        </setting>
      </SapientMiddleware.Properties.Settings>
    </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <log4net>
    <root>
      <level value="INFO"/>
      <appender-ref ref="LogFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
	  <logger additivity="false" name="SendLogger">
		  <level value="ALL" />
		  <appender-ref ref="SendLogAppender" />
	  </logger>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value=".\log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
	  <appender name="SendLogAppender" type="log4net.Appender.RollingFileAppender">
		  <file value="..\Log\SendLog.txt"/>
		  <appendToFile value="true"/>
		  <rollingStyle value="Size"/>
		  <maxSizeRollBackups value="5"/>
		  <maximumFileSize value="10MB"/>
		  <staticLogFileName value="true"/>
		  <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		  <layout type="log4net.Layout.PatternLayout">
			  <conversionPattern value="%d [%t] %-5p %c %m%n"/>
		  </layout>
	  </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>  
  </log4net>
</configuration>
