<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SapientASMsimulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    </configSections>
    <applicationSettings>
        <SapientASMsimulator.Properties.Settings>
            <setting name="SapientDataAgentAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="SapientDataAgentPort" serializeAs="String">
                <value>14000</value>
            </setting>
            <setting name="LogDirectory" serializeAs="String">
                <value>../Log/Log</value>
            </setting>
            <setting name="Log" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogPrefix" serializeAs="String">
                <value>ASM_sendlog</value>
            </setting>
            <setting name="IncrementIntervalSeconds" serializeAs="String">
                <value>3600</value>
            </setting>
            <setting name="PlaybackInterval_ms" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ASM_Id" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="startLatitude" serializeAs="String">
                <value>5777512</value>
            </setting>
            <setting name="startLongitude" serializeAs="String">
                <value>565618</value>
            </setting>
            <setting name="maxLatitude" serializeAs="String">
                <value>5777550</value>
            </setting>
            <setting name="detectionCoordinateSystem" serializeAs="String">
                <value>RangeBearing</value>
            </setting>
            <setting name="IndividualDetectionIDs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PacketFragmentDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sendNullTermination" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DetectionImageURL" serializeAs="String">
                <value>image</value>
            </setting>
            <setting name="DetectionType" serializeAs="String">
                <value>ship</value>
            </setting>
            <setting name="DefaultHorizontalFieldOfView" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="SensorType" serializeAs="String">
                <value>sensorType</value>
            </setting>
            <setting name="ExpectedResponseFilePath" serializeAs="String">
                <value>C:\StarTeam\00010855-Sapient\root\06_Test\Test ConfigurationV3\XML\ExpectedSystemResponseASM.txt</value>
            </setting>
            <setting name="XMLTestMessagesRoot" serializeAs="String">
                <value>C:\StarTeam\00010855-Sapient\root\06_Test\Test ConfigurationV3\XML</value>
            </setting>
            <setting name="PlatformType" serializeAs="String">
                <value>Static</value>
            </setting>
            <setting name="UTMzone" serializeAs="String">
                <value>30U</value>
            </setting>
            <setting name="ScanType" serializeAs="String">
                <value>Steerable</value>
            </setting>
        </SapientASMsimulator.Properties.Settings>
    </applicationSettings>
 <startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
 </startup>
  <log4net>
    <root>
      <level value="INFO"/>
      <appender-ref ref="LogFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value=".\log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
  </log4net>
</configuration>
