<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SapientHldmmSimulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    </configSections>
    <applicationSettings>
      <SapientHldmmSimulator.Properties.Settings>
        <setting name="HldmmDataAgentAddress" serializeAs="String">
          <value>127.0.0.1</value>
        </setting>
        <setting name="HldmmDataAgentPort" serializeAs="String">
          <value>12002</value>
        </setting>
        <setting name="LogDirectory" serializeAs="String">
          <value>..\Log\Log-HLDMM</value>
        </setting>
        <setting name="Log" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="LogPrefix" serializeAs="String">
          <value>HLDMMsim_sendlog</value>
        </setting>
        <setting name="IncrementIntervalSeconds" serializeAs="String">
          <value>3600</value>
        </setting>
        <setting name="PlaybackInterval_ms" serializeAs="String">
          <value>1000</value>
        </setting>
        <setting name="startLatitude" serializeAs="String">
          <value>52.101</value>
        </setting>
        <setting name="startLongitude" serializeAs="String">
          <value>-2.315</value>
        </setting>
        <setting name="maxLatitude" serializeAs="String">
          <value>52.103</value>
        </setting>
        <setting name="sendNullTermination" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ExpectedResponseFilePath" serializeAs="String">
          <value>C:\StarTeam\00010855-Sapient\root\06_Test\Test ConfigurationV3\XML\ExpectedSystemResponseHLDMM.txt</value>
        </setting>
        <setting name="XMLTestMessagesRoot" serializeAs="String">
          <value>C:\StarTeam\00010855-Sapient\root\06_Test\Test ConfigurationV3\XML</value>
        </setting>
        <setting name="sendToHLDMM" serializeAs="String">
          <value>False</value>
        </setting>
      </SapientHldmmSimulator.Properties.Settings>        
    </applicationSettings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
</startup>
  <log4net>
    <root>
      <level value="INFO"/>
      <appender-ref ref="LogFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value=".\log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
  </log4net>
</configuration>
